

        <form action="/action_page.php">
              <div class="container">
              <h3>Library Attendance System</h3>
             
              <label for="Regno"><i ></i>Registration Number</label>
              <input type="text" name="Regno" placeholder=""><br><br>

              <label for="Date"><i ></i>Date</label>
              <input type="date" name=" Date" placeholder=""><br><br>

              <label for="Place"><i ></i>Campus place</label>
              <input type="text" name=" Place" placeholder=""><br><br>


              <label for="Entrancetime"><i ></i>Entrance Time</label>
              <input type="time" name=" Entrancetime" placeholder=""><br><br>


              <label for="Exittime"><i ></i>Exit Time</label>
              <input type="time" name=" Exittime" placeholder=""><br><br><br><br>


             <a routerLink="/login" ><button type ="submit" class="attendancebtn">Done</button></a>
            </div>
             <div class="container" style="background: color #f1f1f1;">
            </div>
           
  
              
            
        </form>
      
